* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
  }
  
  :root {
  
    font-size: 62.5%;
    background:  hsl(346, 43%, 25%);
    
    }
  body {
    font-family: 'Dm Sans';
    font-size: 2rem;
    text-align: center;
    width: 37.5rem;
    align-items: center;
    margin-inline: auto;
  

  }

  header h1 {
  display: flex;
  flex-direction: column;

 
    color: white;

  text-align: center; 
  align-items: center;

  margin-block: 3rem ;
  
  
  }


  style h2 {
    color: white;
    display: flex;
     flex-direction: column;
   
     text-align: center; 
     align-items: center; 
     margin-block: 3 rem;
 }
  main img {
    display: flex;
  flex-direction: column;
    width: 37.5rem;
    align-items: center;

  }

  main h2 {
 color: black;
 display: flex;
  flex-direction: column;

  text-align: center; 
  align-items: center; 
  margin-block: 3rem;
  
}
 

  footer {

    margin-top: 4rem;
  }

