* {
margin: 0px;
padding: 0px;

}

li {
list-style: none;
}

body {
  background-color: hsl(346, 43%, 25%);
  
  height: 100px;

  display: grid;
  align-items: center;
 
}
.logo {
text-align: center;
border-bottom: 3rem;
height: 100px;
margin-left: 30rem;

}
.laeeb {
margin-left: 18rem;
}

#relogio {
 display: grid;
 text-align: left;
 grid-template-columns: repeat(auto-fit, minmax(280px, 400px));
 gap: 5rem;
 padding: 2rem;
 

 
}


#relogio .countdown li {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  padding: 1rem;
  color: rgb(48, 0, 238);
  background: #dbb809;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  text-align: center;

}

#relogio .countdown {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 400px));
  justify-content: center;
  gap: 10px;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

h1 {

color: #dbb809;
text-align: left;
margin-bottom: 2rem;
margin-left: 8rem;


}
.Capa {

  margin-inline: auto;
 
  
  }
h2 {
 text-align: center;
 margin-block: 3rem auto;
 color: white;


} 
.menu li {  
 display: inline-block;
 inline-size: 50px;
 margin-left: 11rem;
 margin-right: 3rem;
 margin-block: 15px;
 
}
 
 button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color:  hsl(346, 43%, 25%);
  background-color:  white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}


button:hover {background-color: hsl(346, 43%, 25%);
  color: white;
}

button:active {
  background-color: black;
  box-shadow: (0 5px  black);
  transform: translateY(4px);
  
}
