* {
margin: 0px;
padding: 0px;
box-sizing: border-box;

}

:root {

font-size: 62.5%;
--primary-color: hsl(346, 43%, 25%);

}

li {
list-style: none;
}

body {
 
  background-color: var(--primary-color);
 
 
  align-items: center;
  font-size: 1.4rem;
  text-align: center;

 
  width: 37.5rem;
  margin-right: auto;
  margin-left: auto;
 
}

.logo {


  justify-content: center;

  margin-inline: auto;

 

}
.logo img {
 margin-inline: auto;
  max-width: 100%;
 max-height: 100%;
margin-bottom: 3rem;
 text-align: center;

}

.laeeb img {

 max-width: 100%;
 max-height: 100%;

}

#relogio {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(280px, 400px));
 gap: 5rem;
 padding-bottom: 3rem;
 

 
}


#relogio .countdown li {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  padding: 1rem;
  color: rgb(48, 0, 238);
  background: #dbb809;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 1.1rem;

}

#relogio .countdown {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 400px));
  justify-content: center;
  gap: 10px;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 1.1rem;
}

h1 {

color: #dbb809;
text-align: center;
margin-bottom: 2rem;
margin-inline: auto;


}
.Capa {
  display: flex;
  margin-inline: auto;
  text-align: center;
  justify-content: center;
  margin-bottom: 3rem;
  }
.capa img {

  margin-left: auto;
  text-align: center;
 
}  
h2 {
 text-align: center;
 margin-inline: auto;
 color: white;



} 
.menu li {  

 inline-size: 5rem;

 margin-block: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  
  margin-left: auto;
  margin-right: auto;

 
}
 
 button {
 
  padding: 1rem 1rem;
  font-size: 2.4rem;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color:  var(--primary-color)
  background-color: white;
  border: none;
  border-radius: 1.5rem;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}



button:hover {
  background-color: var(--primary-color);
  color: white;
}

button:active {
  background-color: black;
  box-shadow: (0 5px  black);
  transform: translateY(4px);
  
}
button img {
 text-align: center;

 height: 3rem;
 width: 3rem;
 

}
footer{
 margin-top: 5rem;
 padding: 3rem;
 width: 100%;
 height: 100%;

 display: block;
 

}
footer h2 {
color: white;
margin-bottom: 1rem;
font-size: 1.4rem;

}
